img {
    width: 100%; /* Example width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Example border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example box shadow */
  }
  .welcome 
  {
    margin-top: 90px; 
  }
  