<nav class="navbar navbar-expand-lg navbar-light custom-navbar fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="./explogo.png" alt="Your Logo" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/userexpense">Expense Details</a>
        </li>
        @if(isAdmin)
        {
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewCategory">List of Category</a>
        </li>
        }

        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlRtNB13_Nv_NouoJn-FH4vHvoJfBlknQmgQ&s"
              alt="Profile" height="30" class="rounded-circle"> </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>