<section class="text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email" formControlName="email" placeholder="Email-ID" class="form-control" />
              <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
                <small class="text-danger" *ngIf="registrationForm.get('email')?.errors?.['required']">Email is
                  required.</small>
                <small class="text-danger" *ngIf="registrationForm.get('email')?.errors?.['email']">Please enter a valid
                  email address.</small>
              </div>
            </div>

            <!-- Username input -->
            <div class="form-outline mb-4">
              <input id="username" formControlName="username" placeholder="UserName" class="form-control" />
              <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched">
                <div class="text-danger" *ngIf="registrationForm.get('username')?.errors?.['required']">Username is required.</div>
                <div class="text-danger" *ngIf="registrationForm.get('username')?.errors?.['minlength']">Username must be at least 10 characters long.</div>
                <div class="text-danger" *ngIf="registrationForm.get('username')?.errors?.['pattern']">Username can only contain alphanumeric characters and must be at least 10 characters long.</div>
              </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" formControlName="password" placeholder="Password"
                class="form-control" />
              <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
                <div class="text-danger" *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required.</div>
                <div class="text-danger" *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
                <div class="text-danger" *ngIf="registrationForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</div>
              </div>
            </div>

            <!-- Remember me checkbox -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                  <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
              </div>
              <div class="col">
                Already have an account? <a routerLink="/login">Login</a>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" [disabled]="registrationForm.invalid" data-mdb-ripple-init
              class="btn btn-primary btn-block mb-4">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>