/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Apply background color and center content */
body {
    background-color: #f0f0f0; /* Light gray background color */
}

/* Style the form container */
.form-box, .login-container {
    background-color: #fff; /* White background color for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    padding: 20px;
    border-radius: 5px;
    width: 300px; /* Set the width of the form */
}

/* Style the header text */
.header-text {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Style form groups */
.form-group {
    margin-bottom: 20px;
}

/* Style form inputs */
.form-control, input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
.sub {
    padding: 10px 20px;
    background-color: #f36170; /* Red background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .sub:hover {
        background-color: #f44557; /* Darker red background color on hover */
    }

/* Style the sign-up link */
.sign-up a {
    color: #007bff; /* Blue link color */
    text-decoration: none;
}

    .sign-up a:hover {
        text-decoration: underline;
    }

/* Style validation error messages */
.text-danger {
    color: red;
    font-size: 12px;
}

/* Container styles */
.container {
    display: flex;
    width: 80%; /* Adjust as needed */
    height: 80%; /* Adjust as needed */
    background-color: #f2f2f2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Story styles */
.story {
    flex: 1;
    background-color: #f123; /* Change as needed */
    padding: 40px;
}
