<section class="text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>

  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email" formControlName="email" placeholder="Email-ID" class="form-control" />
              <div
                *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Email is
                  required.</small>
                <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email
                  address.</small>
              </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" formControlName="password" placeholder="Password"
                class="form-control" />
              <div
                *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Password is
                  required.</small>
                <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at
                  least 6 characters long.</small>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col">
                Don't have an account? <a routerLink="/register">Sign Up now</a>
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>